<!DOCTYPE html>
<html>
  <head>
    <title>{{= title }}</title>
    <link rel="stylesheet" href="bower_components/semantic-ui/build/packaged/css/semantic.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="stylesheets/common.css" type="text/css" media="screen" />
  </head>
  <body>

    <!-- menu -->
    <div class="ui fixed inverted menu">
      <div class="container">
        <a class="item" href="/">Force-Revival</a>
        <div class="right item">
          <a class="ui button" href="/spooky/stop">Stop Captrue</a>
	</div>
        <div class="right item">
          <a class="ui teal button" href="/spooky/start">Start Capture</a>
	</div>
      </div>
    </div>
    
    <div class="segment">
      <div class="container">
	
      </div>
    </div>

    <script src="//localhost:35729/livereload.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="bower_components/semantic-ui/build/packaged/javascript/semantic.min.js" type="text/javascript"></script>
    <script src="bower_components/underscore/underscore.js" type="text/javascript"></script>

    <!-- custom script -->
    <script src="javascripts/script.js" type="text/javascript"></script>
    
  </body>
</html>
